body {
  font-family: 'Fira Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}


.currentCityDashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.mainCard {
  width: 100%;
  background-color: white;
  height: 400px;
  margin: auto;
  margin-top: 20px;
}

.dayCard {
  width: 18%;
  background-color: white;
  height: 150px;
  margin: auto;
  margin-top: 20px;
}